{% extends "base.html" %}
{% block title %}Cost Calculator{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
    .width {
        width: 500px;
        object-fit: cover;
        margin: auto;
    }
    .border-4{
        border-style:solid;
         border-width: 4px !important;
    }

    .table-head {
        background-color: #050505;
    }
    .table-body{
        background-color: #1a1a1a;
    }
  </style>
{% endblock %}
{% block content %}

{% if post==False %}
<div class="d-flex flex-column container-fluid">
    <h3 class="p-2 text-secondary">Redecorating cost calculator form:</h3>
    <form method="post" class="d-flex flex-column">
        <div class="form-group p-2">
            <label for="height"><strong>Wall height: </strong></label>
            <input class="form-control" step="any" id="height" name="height" type="number" placeholder="0" aria-placeholder="0" min="0" required/>
        </div>

        <div class="form-group p-2">
            <label for="width"><strong>Wall width: </strong></label>
            <input class="form-control" step="any" id="width" name="width" type="number" placeholder="0" aria-placeholder="0" min="0" required/>
        </div>
        <div class="form-group p-2">
            <label for="floor"><strong>Floor area: </strong></label>
            <input class="form-control" step="any" id="floor" name="floor" type="number" placeholder="0" aria-placeholder="0" min="0" required/>
        </div>
        <div class="form-group p-2">
            <label for="ft"><strong>Floor type: </strong></label>
            <select name="ft" id="ft" class="form-control">
              <option value="flooring">None</option>
              <option value="carpet">Carpet</option>
            </select>
        </div>
        <input type="submit" class="btn bg-dark text-light">
    </form>
</div>
{%else%}
<div class="d-flex flex-column container-fluid">
    <h3 class="p-2 text-secondary">Cost for redecorating:</h3>
    <table class="table border border-secondary border-4">
        <thead class="table-head text-light">
            <tr>
                <th scope="col" class="p-2">Item</th>
                <th scope="col" class="p-2">Cost (£)</th>
            </tr>
        </thead>
        <tbody class="text-light table-body">
            <tr>
                <th scope="row" class="p-2">Paint</th>
                <td class="p-2">{{paint}}</td>
            </tr>
            <tr>
                <th scope="row" class="p-2">Flooring</th>
                <td class="p-2">{{floor}}</th>
            </tr>
        <tr>
                <th scope="row" class="p-2">Total</th>
                <td class="p-2">{{total}}</td>
            </tr>
        </tbody>
    </table>
    <a href="/" class="d-flex flex-column"><button class="btn bg-dark text-light">Go back</button></a>

</div>

{%endif%}

{% endblock %}